
{{#if this.isSpeakerNotes}}
  <SpeakerNotes />
{{else}}
  <div class='reveal' {{did-insert (action this.initializeReveal)}}>
    <div class='slides'>
      {{yield
        (hash
          togglePresenterView=(action this.togglePresenterView)
        )
      }}
    </div>
  </div>
{{/if}}
