<section ...attributes>
  {{yield
    (hash
      Notes=(component 'slide/notes')
      Title=(component 'slide/title')
      ContextTitle=(component 'slide/context-title')
      LeftCode=(component 'slide/left-code')
      RightCode=(component 'slide/right-code')
    )
  }}
</section>
