<section ...attributes>
  {{yield
    (hash
      Notes=(component 'slides/plain/notes')
      Title=(component 'slides/plain/title')
      ContextTitle=(component 'slides/plain/context-title')
      LeftCode=(component 'slides/plain/left-code')
      RightCode=(component 'slides/plain/right-code')
    )
  }}
</section>
