<div class='tabs'>
  <nav class='tabs-nav'>
    <Link @to='application'>
      Home
    </Link>
    <Link @to='component-demo'>
      Component Demo
    </Link>
  </nav>
</div>

<hr>

<div class='container'>
  {{outlet}}
</div>
