<NotificationContainer @position="top-right" />

<div class='tabs'>
  <nav class='tabs-nav'>
    <Link @to='application'>
      Home
    </Link>
    <Link @to='component-demo'>
      Component Demo
    </Link>
    <Link @to='concurrency-demo'>
      Concurrency Demo
    </Link>
    <Link @to='todo-mvc'>
      "Todo MVC"
    </Link>
    <Link @to='auth'>
      Auth
    </Link>
    <Link @to='auth-with-esa'>
      Auth w/ ESA
    </Link>
  </nav>
</div>

<hr>

<div class='container'>
  {{outlet}}
</div>
